body {
    margin: 0px 0px 0px 0px;
    height: 100%;
}

html {
    background-color: #fff0d3;  
}

#header {
    margin-top: 0;
    width: 100%;
    text-align: center;
    background-color: #005fcc;
    /* Needs a height to let the contact info have breathing room at the bottom */
}

#myName {
    width: 100%;
    color: #fff0d3;
    font-weight: bold;
    font-family: Helvetica;
    font-size: 3em;
    margin-top: 0px;
} 

.ContactInfo {
    font-family: helvetica;
    font-size: 1.5em;
    color: #fff0d3;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#subHeading {
    line-height: 0.5;
}

p {
    width: 50%;
}

#profilePhoto {
    width: 25%;
}