body {
    margin: 0px 0px 0px 0px;
    height: 100%;
}

html {
    background-color: #fff0d3;  
}

#header {
    margin-top: 0;
    width: 100%;
    height: 1000px;
    text-align: center;
    /* background-color: #003f86; */
    background-image: url('X9_02_Blurred10.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


#myName {
    width: 100%;
    color: white;
    font-weight: bold;
    font-family: Helvetica;
    font-size: 5vw;
    margin-top: 0px;
    padding-top: 300px;
} 

.ContactInfo {
    font-family: helvetica;
    font-size: 3vw;
    color: white;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#subHeading {
    line-height: 0.5;
}


hr {
    width: 75%;
    margin-top: 1.5em;
}

#buttonSection {
    width: 30vw;
    height: 30vw;
}

.headerButton {
    width: 3vw;
    height: 2vw;
}